{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
  {% if error_message %}
    <div class="alert alert-danger" role="alert">
      <strong>Błąd:</strong> {{ error_message }}
      {% for dict in formset.errors %}
        {% for error in dict %}
          {{ error }}
        {% endfor %}
      {% endfor %}
    </div>
  {% endif %}
  
  <h2>Question List</h2>
  
  <form method="post" action="{% url 'question-list' %}" class="d-flex flex-column">
    {% csrf_token %}
    
    <table id="question_table" class="table table-striped table-hover">
      <thead-dark>
        <tr>
          <th style="width: 15%;">Requirement Type</th>
          <th style="width: 65%;">Question Text</th>
          <th style="width: 10%;">Answer Type</th>
          <th class="text-center" style="width: 5%;">Enabled</th>
          <th style="width: 5%;">Delete</th>
        </tr>
      </thead>
      
      <tbody class="table-group-divider">
        {% include 'formset_table_insert.html' %}
      </tbody>
    </table>
    
    <div class="d-flex justify-content-between mb-3">
      <button type="submit" id="submit" class="btn btn-primary mr-2">Submit</button>
    </div>
  </form>
  
</div>

{% endblock %}